global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option http-keep-alive
    option forwardfor
    retries 4
    timeout connect 3s
    timeout client 21600s
    timeout server 21600s
    timeout http-request 30s
    timeout http-keep-alive 75s
    timeout queue 15s
    timeout tunnel 21600s

frontend chatds_frontend
    bind 0.0.0.0:5173
    default_backend chatds_origin

backend chatds_origin
    balance first
    option redispatch
    retry-on conn-failure
    http-reuse safe
    server chatds_primary 10.10.132.126:5173 check inter 2s fastinter 1s downinter 2s fall 3 rise 2
    server chatds_backup 172.30.100.126:5173 check inter 2s fastinter 1s downinter 2s fall 3 rise 2 backup
